:root {
  --accent:              #728cbb;
  --background:          #232323;
  --background-bar:      var(--background);
  --blank-background:    var(--background);
  --foreground:          #888888;
  --tab-icon-background: #474749;
}
