@import url("colors.css");

/* Fix the white flash from opening a new blank page */
@-moz-document regexp("^about:(?!reader).*") {
  html > body:empty {
    background-color: var(--blank-background) !important;
  }
}

