/*Make tabs and navbar appear side-by-side tabs on right */

/* IMPORTANT */
/*
Get window_control_placeholder_support.css
Window controls will be all wrong without it

urlbar_full_width.css is VERY MUCH recommended for Firefox 71+ because of new urlbar popup
*/


/* Modify these to change relative widths or default height */
#navigator-toolbox{
  border-bottom: none !important;
  --uc-navigationbar-width: 45vw;
  --uc-toolbar-height: 40px;
}
/* Override for other densities */
:root[uidensity="compact"] > #navigator-toolbox{ --uc-toolbar-height: 32px; }
:root[uidensity="touch"] > #navigator-toolbox{ --uc-toolbar-height: 40px; }

:root[uidensity=compact] #urlbar-container.megabar{
  --urlbar-container-height: var(--uc-toolbar-height) !important;
  padding-block: 0 !important;
}
:root[uidensity=compact] #urlbar.megabar{
  --urlbar-toolbar-height: var(--uc-toolbar-height) !important;
}

/* prevent urlbar overflow on narrow windows */
/* Dependent on how many items are in navigation toolbar ADJUST AS NEEDED */
@media screen and (max-width: 1100px){
  #urlbar-container{ min-width:unset !important }
}

#TabsToolbar{ margin-left: var(--uc-navigationbar-width); }
#tabbrowser-tabs{ --tab-min-height: var(--uc-toolbar-height) !important; }
/* This isn't useful when tabs start in the middle of the window */
.titlebar-placeholder[type="pre-tabs"],
.titlebar-spacer[type="pre-tabs"]{ display: none }
#navigator-toolbox > #nav-bar{
	margin-right:calc(100vw - var(--uc-navigationbar-width));
  margin-top: calc(0px - var(--uc-toolbar-height));
}

/* Override style set in window_control_placeholder_support.css  */
#nav-bar::after{ display:none !important }

/* Rules specific to window controls on right layout */
@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled"){
  .titlebar-buttonbox-container{ position: fixed; display: block; left: 0px; z-index: 3; }
}

/* 1px margin on touch density causes tabs to be too high */
.tab-close-button{ margin-top: 0 !important }

/* Hide dropdown placeholder */
#urlbar-container:not(:hover) .urlbar-history-dropmarker{ margin-inline-start: -28px; }
