/* Make urlbar popup appear full size like it did before megabar */

#urlbar-container,
#urlbar{
  position: static !important;
  display: -moz-box !important;
}
#urlbar.megabar{
  height: auto !important;
  width: auto !important;
  border: 1px solid white;
  border-color:var(--lwt-toolbar-field-border-color, hsla(240,5%,5%,.25));
  background-color: var(--lwt-toolbar-field-background-color, hsla(0,0%,100%,.8));
  border-radius: var(--toolbarbutton-border-radius);
}

#urlbar.megabar[focused]{ border-color: var(--lwt-toolbar-field-border-focus, highlight) }

.urlbarView.megabar{
  position: absolute !important;
  margin: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  border-width: 1px 0;
  top: var(--urlbar-height);
  background-color: var(--lwt-toolbar-field-background-color, hsla(0,0%,100%,.8));
  backdrop-filter: blur(28px);
  z-index: 4;
  box-shadow: 0 1px 4px rgba(0,0,0,.05);
}

#urlbar.megabar > #urlbar-input-container{ padding: 0px !important; width: auto !important; height: auto !important; }
#urlbar.megabar > #urlbar-background{ display: none !important; }
